{% extends 'base-app.html' %}
{% load crispy_forms_tags %}
{% block content %}
<head>

    <title>BusTrack ||Agent Dashboard</title>


</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

 

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

   

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">--- Agents Dashboard ---</h1>
                    </div>

                    
                  </div>
                </div>
                <div class="container-fluid">
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Transaction Summary</h6>
                            <a href="#" data-toggle="modal" data-target="#NewUser"  class=" d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                Assign card</a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Picture</th>
                                            <th>Id number</th>
                                            <th>Names</th>
                                            <th>Card number</th>
                                            <th>User type</th>
                                            <th>Card status</th>
                                            
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Picture</th>
                                            <th>Id number</th>
                                            <th>Names</th>
                                            <th>Card number</th>
                                            <th>User type</th>
                                            <th>Card status</th>
                                            
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for user in agent_add_user %}
                                        <tr>
                                            <td><img src="{{user.picture.url}}" alt="" style="height: 30px; width:30px;"></td>
                                            <td>{{user.health.citizen.id_num}}</td>
                                            <td>{{user.health.citizen}}</td>
                                            <td>{{user.cardNum.cardnum}}</td>
                                            <td>{{user.typeUser}}</td>
                                            <td>{{user.cardNum.status}}</td>
                                        </tr>
                                        {% endfor %}



                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
             
         

        </div>
        <!-- End of Content Wrapper -->
        <div class="modal fade" id="NewUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Assign a card to passenger</h5>
                </div>
                <br>
                <form method="POST">
                    {% csrf_token %}
                 <!-- <strong><label> &nbsp;Plate No</label></strong>
                  <div class="form-group">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" name="plateno"class="form-control form-control-user"placeholder="Plate number ....">
                  </div>
                </div>
                <br>
                    <strong><label> &nbsp;Driver name</label></strong>
                  <div class="form-group">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" name="Driver" class="form-control form-control-user"placeholder=" Bus Driver name....">
                  </div>
                </div> <br>
                    <strong><label> &nbsp;Road Description</label></strong>
                  <div class="form-group ">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                        <select  name="roadname"class="form-control form-control-use" >
                                    <option selected>Select Assigned Road Description</option>
                                    <option value="Passenger">TOWN-ULK-KAGUGU</option>
                        </select>
                      </div>
                </div>-->
                {{add_user|crispy}}
    
                    <br>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                        <button name="newuser" class="btn btn-user btn-primary" type="submit" >
                            Add</button>
    
    
                    </div>
                </form>
    
    
            </div>
        </div>
    </div>
    
</body>

</html>
{% endblock content %}